name: Lint Unity Csharp for Dispatch

on:
  workflow_dispatch:
    inputs:
      include-paths:
        description: 'Comma-separated regex patterns for files or directories to include. More info: https://www.gnu.org/software/grep/manual/'
        required: true
        type: string
        default: 'Assets/Scripts/.*'
      exclude-paths:
        description: 'Exclude files or directories (regex, comma-separated)'
        required: false
        type: string
        default: ''

permissions:
  contents: read
  checks: write

jobs:
  unity-cs-linter:
    uses: IShix-g/Unity-GitHubActions/.github/workflows/reusable-unity-cs-linter-dispatch.yaml@v1
    with:
      base-branch: ${{ github.ref }}
      editorconfig-branch: ${{ github.event.repository.default_branch }}
      # regex https://www.gnu.org/software/grep/manual/
      include-paths: ${{ inputs.include-paths }}
      exclude-paths: ${{ inputs.exclude-paths }}
