name: (Test) Create Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to validate (e.g., 1.0.0).'
        type: string
        default: ''
  workflow_call:
    inputs:
      tag:
        required: false
        type: string
        default: ''
    secrets:
      BOT_APP_ID:
        required: true
      BOT_PRIVATE_KEY:
        required: true

jobs:
  set-tag:
    runs-on: ubuntu-24.04
    outputs:
      tag: ${{ steps.set-tag.outputs.tag }}
    steps:
      - name: Set tag
        id: set-tag
        run: |
          if [ -n "${{ inputs.tag }}" ]; then
            tag="${{ inputs.tag }}"
          else
            tag="13.13.${{ github.run_number }}"
          fi
          echo "tag=$tag" >> "$GITHUB_OUTPUT"
          echo "::notice::tag:$tag"

  create-release:
    needs: [set-tag]
    uses: ./.github/workflows/reusable-create-release.yaml
    secrets:
      BOT_APP_ID: ${{ secrets.BOT_APP_ID }}
      BOT_PRIVATE_KEY: ${{ secrets.BOT_PRIVATE_KEY }}
    with:
      commit-id: ${{ github.sha }}
      dry-run: true
      tag: ${{ needs.set-tag.outputs.tag }}
      release-note: "Create release test."
      draft-release: true