name: (Test) Get Latest Action Time

on:
  workflow_dispatch:
    inputs:
      workflow-id:
        description: ''
        type: string
        default: 'build-release_merge.yaml'

jobs:
  check_and_run:
    runs-on: ubuntu-latest
    steps:
    - name: Call API in Next Step
      run: |
        lastCompletedTime=$(curl -s \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          "https://api.github.com/repos/${{ github.repository }}/actions/workflows/${{ inputs.workflow-id }}/runs?per_page=1" | \
          jq -r '.workflow_runs[0].updated_at')

        echo "Last completed time: $lastCompletedTime"
      shell: bash
